#pie_graph {
  height: 450px;
}

body {
  background-color: #ffff99;
}

#recent_history {
  list-style: none;
}

.tea {
  font-weight: bold;
}

.time {
  color: #cc9966
}

.last_status {
  text-align: right;
}

.last_time {
  text-align: right;
}

li {
  padding-left: 2em;
  line-height: 30px;
}

#links li {
  display: inline;
  list-style-type: none;
  padding-left: 0;
  padding-right: 1em;
}
