#pie_graph {
  height: 450px;
}

body {
  background-color: #FFFFFF;
}

#recent_history {
  list-style: none;
}

li {
  padding-left: 2em;
  line-height: 30px;
}

#links li {
  display: inline;
  list-style-type: none;
  padding-left: 0;
  padding-right: 1em;
}
